# Importar CSV

Dada uma entrada CSV do object storage
Criar uma função mostre o conteúdo do CSV sem repetições em ordem alfabética

In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

client_a3e64bedba2646b5bf66e662ddc2320c = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='HzrOSGPKzz__gAu9iAkEXV2PowU820p1Fvf0O5fVATht',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_a3e64bedba2646b5bf66e662ddc2320c.get_object(Bucket='desafiopython-donotdelete-pr-xuycmxag8ig5bc',Key='data.csv')['Body']

if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head(5)

       name
0       Rog
1  Robinett
2    Stacee
3    Rutter
4     Candi

# Criar função de ordenação por nome

In [2]:
def ordem (csv):
    return csv.sort_values(['name'])

In [3]:
ordem (df_data_1)

           name
73     Adrianne
74        Alene
46   Alessandro
20       Alfons
99      Anthony
75        Armin
51      Artemis
41        Berne
90        Bunni
35         Calv
4         Candi
92       Carlyn
67       Caspar
79     Christie
80       Cindie
29     Clarence
12     Clarisse
85         Codi
60  Constantino
84   Cristionna
97        Daffi
21        Daune
13        Druci
22    Ellswerth
34        Elora
62    Fanchette
89        Fanya
5        Farica
59        Gaile
6       Garrard
..          ...
82        Perle
57   Philippine
23       Portia
14      Rafaela
33    Reginauld
11        Reine
72      Reinold
47        Retha
30      Riobard
1      Robinett
0           Rog
58      Rozelle
3        Rutter
53       Shandy
25        Slade
49       Sorcha
2        Stacee
76       Steven
61         Sven
40       Tandie
71       Tanney
48        Tasha
18      Theresa
7         Venus
26        Verne
28        Vevay
52      Whitney
86      William
15        Wolfy
87        Zarah

[100 rows x 1 columns]

# Importar JSON

Ler Json de entrada do object storage
Criar 3 funções diferentes que mostrem as entradas ordenadas por:

Data;
Nome;
Valor;

In [4]:

body = client_a3e64bedba2646b5bf66e662ddc2320c.get_object(Bucket='desafiopython-donotdelete-pr-xuycmxag8ig5bc',Key='data.json')['Body']

if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_json(body, orient='values')
df_data_2.head()

        date    name  value
0 2018-12-12  Kimble  93.28
1 2019-03-08  Alanna  10.51
2 2019-10-09     Jay  29.41
3 2019-07-28  Rustin  47.94
4 2019-03-23   Pedro  98.77

# Criar função de ordenação por data

In [5]:
def ordemDate (json):
    return json.sort_values(['date'])

In [6]:
ordemDate (df_data_2)

         date         name  value
16 2018-11-23       Culver  68.38
15 2018-11-24        Xenia  43.61
0  2018-12-12       Kimble  93.28
10 2019-01-13     Kristine  26.09
24 2019-01-27   Christabel  73.09
13 2019-02-03     Claudine  26.28
8  2019-02-14        Graig  79.75
1  2019-03-08       Alanna  10.51
5  2019-03-21         Isac   5.21
4  2019-03-23        Pedro  98.77
14 2019-04-07      Honoria  93.40
6  2019-04-10        Gayla  40.03
20 2019-04-11      Jackson  53.92
17 2019-05-14       Paddie  99.52
23 2019-05-25         Jack  87.38
22 2019-06-18     Christie  83.61
3  2019-07-28       Rustin  47.94
19 2019-08-02        Tadio   4.40
18 2019-08-17         Livy  51.81
12 2019-08-21         Teri  22.17
2  2019-10-09          Jay  29.41
11 2019-10-10      Brenden  41.40
7  2019-10-16      Ransell  80.89
21 2019-10-19        Elise  35.62
9  2019-10-21  Jacquenetta  97.73

# Criar função de ordenação por nome

In [7]:
def ordemName (json):
    return json.sort_values(['name'])

In [8]:
ordemName (df_data_2)

         date         name  value
1  2019-03-08       Alanna  10.51
11 2019-10-10      Brenden  41.40
24 2019-01-27   Christabel  73.09
22 2019-06-18     Christie  83.61
13 2019-02-03     Claudine  26.28
16 2018-11-23       Culver  68.38
21 2019-10-19        Elise  35.62
6  2019-04-10        Gayla  40.03
8  2019-02-14        Graig  79.75
14 2019-04-07      Honoria  93.40
5  2019-03-21         Isac   5.21
23 2019-05-25         Jack  87.38
20 2019-04-11      Jackson  53.92
9  2019-10-21  Jacquenetta  97.73
2  2019-10-09          Jay  29.41
0  2018-12-12       Kimble  93.28
10 2019-01-13     Kristine  26.09
18 2019-08-17         Livy  51.81
17 2019-05-14       Paddie  99.52
4  2019-03-23        Pedro  98.77
7  2019-10-16      Ransell  80.89
3  2019-07-28       Rustin  47.94
19 2019-08-02        Tadio   4.40
12 2019-08-21         Teri  22.17
15 2018-11-24        Xenia  43.61

# Criar função de ordenação por valor

In [9]:
def ordemValue (json):
    return json.sort_values(['value'])

In [10]:
ordemValue (df_data_2)

         date         name  value
19 2019-08-02        Tadio   4.40
5  2019-03-21         Isac   5.21
1  2019-03-08       Alanna  10.51
12 2019-08-21         Teri  22.17
10 2019-01-13     Kristine  26.09
13 2019-02-03     Claudine  26.28
2  2019-10-09          Jay  29.41
21 2019-10-19        Elise  35.62
6  2019-04-10        Gayla  40.03
11 2019-10-10      Brenden  41.40
15 2018-11-24        Xenia  43.61
3  2019-07-28       Rustin  47.94
18 2019-08-17         Livy  51.81
20 2019-04-11      Jackson  53.92
16 2018-11-23       Culver  68.38
24 2019-01-27   Christabel  73.09
8  2019-02-14        Graig  79.75
7  2019-10-16      Ransell  80.89
22 2019-06-18     Christie  83.61
23 2019-05-25         Jack  87.38
0  2018-12-12       Kimble  93.28
14 2019-04-07      Honoria  93.40
9  2019-10-21  Jacquenetta  97.73
4  2019-03-23        Pedro  98.77
17 2019-05-14       Paddie  99.52

# Função que calcula equação

Criar um programa que receba a entrada do usuário, pedindo a(s) resposta(s) para a função:

xˆ2 + 2*x - 20

E envie a mensagem “Parabéns” caso o usuário tenha acertado, caso contrário envie “Essa não é bem a resposta correta, a resposta correta é: <respostas>”

## Como pensamos que era:

In [11]:
def calc ():
    import math
    value = int(input("Digite um valor para X: \n"))
    result = pow(value,2) + 2*value - 20
    
    userResult = int(input("Qual o resultado para a operação xˆ2 + 2*x - 20 sendo X o valor que você determinou? \n"))
    
    if (userResult == result):
        print("Parabéns, você acertou!")
    else:
        print("Ops, parece que você errou, a resposta correta é: ", result)

In [12]:
calc()

Digite um valor para X:
2
Qual o resultado para a operação xˆ2 + 2*x - 20 sendo X o valor que você determinou?
-12
Parabéns, você acertou!

## Como realmente era pra ser:

In [17]:
def Bhaskara ():
    import math
    a = 1
    b = 2
    c = -20
    
    x=(b**2)-(4*a*c)
    x=math.sqrt(x)
    r1=(-b+x)/(2*a)
    r2=(-b-x)/(2*a)
    
    x1 = round(r1, 2)
    x2 = round(r2, 2)
    
    userResult1 = float(input("Dada a equação xˆ2 + 2*x - 20 Qual o resultado de X'? \n"))
    userResult2 = float(input("E do X''? \n"))
    
    if ((userResult1 and userResult2) == (x1 and x2)):
        print("Parabéns, você acertou!")
    else:
        print("Ops, parece que você errou, a resposta correta é: ", "\n\nX' = %s X'' = " % x1, x2)

In [18]:
Bhaskara ()

Dada a equação xˆ2 + 2*x - 20 Qual o resultado de X'?
3.58
E do X''?
-5.58
Parabéns, você acertou!

# Extra

Digitar um dos nomes do arquivo JSON para que a equação seja calculada de acordo com o valor de cada um.

In [16]:
userName = input('Digite seu primeiro nome: ')
selectUser = df_data_2[df_data_2['name']==userName]
value = selectUser['value']
result = pow(value,2) + 2*value - 20

print(result)

Digite seu primeiro nome: Jay
2    903.7681
Name: value, dtype: float64